@import "../../global/sizing";
@import "../../global/themerc";


#main__navbar,
#main__panel-nav
{ background-color: rgb(32, 19, 19) !important; }



#main__collapse
{
    position: fixed !important;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    box-shadow: 0 15px 0.5rem 1rem rgb(0 0 0 / 15%) !important;

    @include on_md_and_up
    {
        position: initial !important;

        top: 0 !important;
        left: 0 !important;
        bottom: initial !important;
        height: 100%;
        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    }
}

#main__navbar
{ height: 100%; }

#main__navbar >
#main__navbar-nav
{
    padding-top: .75rem !important;
    padding-bottom: .75rem !important;

    width: 100% !important;
    min-width: 280px;
    height: 100%;

    overflow-y: auto !important;

    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    @include on_md_and_up
    {
        width: 215px !important;
        min-width: initial;
    }
}


#main__navbar >
#main__navbar-nav
{
    height: auto;
    @include on_sm_and_up
    {
        height: 100% !important;
        overflow-y: auto;
    }
}

.nav-item:nth-child(even)
{
    @include on_md_and_up
    { margin: .75rem 0; }
}


.nav-item:first-child
{ margin-top: 0; }


.nav-item:last-child
{ margin-bottom: 0; }

$active-link-blue: rgb(155, 113, 255);

.nav-link
{ color: $PRIMARY-LIGHT !important; }


.nav-link::before {
    display: none;
    content: ' ';
    width: 5px;
    height: 5px;

    margin: 0 1em;

    border-radius: 100%;
    background-color: transparent !important;

    @include on_md_and_up
    { display: block; }
}

.nav-link > * span
{ display: inline !important; }



$active-link-fg: rgb(3, 110, 253);
$active-link-bg: rgb(13, 110, 253);


.nav-link.active {
    color: $active-link-fg;
    border-radius: 0.25rem;

    @include on_md_and_up
    {
        color: $PRIMARY-LIGHT !important;
        background-color: $active-link-bg;
    }

    &::after {
        display: block;
        content: ' ';
        width: 100%;
        height: 3px;

        margin: auto;

        border-radius: 0px;
        border-bottom: 0.25rem solid $active-link-blue !important;
        @include on_md_and_up
        {
            display: none;
            width: 100%;
            border-radius: 10px;
        }
    }

}

.nav-link >
i.fa-solid
{ @include on_md_and_up {min-width: 1.6em;} }

#main__link-list {
    width: 100%;
    @include on_sm_and_up
    { width: auto; }
}

#main__content-area
{
    padding-bottom: 60px;

    @include on_md_and_up
    { padding-bottom: initial; }
}

#main__section-wrapper
{
    width: 100%;
    height: 100%;

    overflow-y: hidden;
    scroll-snap-type: y mandatory !important;

    & > section
    { scroll-snap-align: start !important; }

    @include on_md_and_up
    { height: calc(100% - 56px) !important; }
}
