@import "../../global/themerc";
@import "../../global/sizing";

#register__main {
    position: relative;
    overflow-y: auto !important;
}

#register__backdrop {

    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-image: url("../../../images/map-vector.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#backdrop__bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;

    @supports(backdrop-filter: blur(5px)) {
        backdrop-filter: blur(5px);
        background-color: rgba(0 , 0, 0, 0.85);
    }
}

#backdrop__fg {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;

    @supports(filter: blur(40px)) {
        filter: blur(40px);
    }

    @supports not (filter: blur(40px)) {
        background-color: rgba(255, 255, 255, 0.65);
    }
}

#register__panel {

    position: relative;
    z-index: 2;
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    max-height: 100% !important;

    @include on_sm_and_up() {

        padding-top: 0;
        padding-bottom: 0;

        max-width: 65% !important;
        background-color: $PRIMARY-DARK !important;
    }

}

.register__vr {

    display: none;
    // invert
    color: $PRIMARY-LIGHT;

    @include on_sm_and_up()
    {
        display: inline-block;
    }

}
