@import "../../../global/sizing";
@import "../../../global/themerc";


#dashboard-page {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    overflow-y: auto;
}

.dashboard__tile-small {
    position: relative;
    padding-top: 100%;
    width: 100%;
    border-radius: .75em;
    background-color: rgb(32, 19, 19) !important;
    @include on_sm_and_up
    {
        padding-top: 50%;
        border-radius: .25em;
    }
    @include on_md_and_up
    { padding-top: 100%; }
}

.dashboard__tile-large {
    position: relative;
    padding-top: 100%;
    width: 100%;
    background-color: rgb(32, 19, 19) !important;
    border-radius: .75em;
    overflow: hidden;
    @include on_sm_and_up
    {
        padding-top: 50%;
        border-radius: .25em;
    }
    @include on_md_and_up
    { padding-top: 47%; }
}

.dashboard__tile-small >
.tile__content-area {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@keyframes jump {
    0%, 25% {
        top: 70%;
        transform: translate(-50%, -70%);
        width: 75%;
        height: 60%;
    }
    25%, 50% {
        top: 60%;
        transform: translate(-50%, -60%);
        width: 80%;
        height: 65%;
    }
    50%, 75% {
        top: 5%;
        transform: translate(-50%, -5%);
        width: 85%;
        height: 55%;
    }
    75%, 85% {
        top: 15%;
        transform: translate(-50%, -15%);
        width: 65%;
        height: 70%;
    }
    85%, 90% {
        top: 25%;
        transform: translate(-50%, -25%);
        width: 65%;
        height: 72%;
    }
    90%, 95% {
        top: 35%;
        transform: translate(-50%, -35%);
        width: 65%;
        height: 75%;
    }
    95%, 100% {
        top: 60%;
        transform: translate(-50%, -60%);
        width: 65%;
        height: 65%;
    }
}

.dashboard__tile-small >
.tile__bg-icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: auto;
    @include on_sm_and_up
    { width: 55%; }

    @include on_md_and_up
    { width: 80%; }
}

.tile__bg-icon.animate {
    animation: jump 1s linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.dashboard__tile-large >
.tile__content-area {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dashboard__tile-large >
.tile__bg-icon {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    @include on_sm_and_up
    { width: 15%; }
}

#dashboard__tile-center {
    border-radius: .75em;
}

#dashboard_center-button-1 {
    z-index: 1;
    margin-top: -59px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: $PRIMARY-DARK;
}

#dashboard_center-button-1 >
#dashboard__center-button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    height: 80%;
}
