@import "../../../global/sizing";
@import "../../../global/themerc";


#dashboard-page {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    overflow-y: auto;
}

.dashboard__tile-small {
    position: relative;
    padding-top: 100%;
    width: 100%;
    background-color: $PRIMARY-LIGHT;
    border-radius: .75em;
    @include on_sm_and_up
    {
        padding-top: 50%;
        border-radius: .25em;
    }
    @include on_md_and_up
    { padding-top: 100%; }
}

.dashboard__tile-large {
    position: relative;
    padding-top: 100%;
    width: 100%;
    background-color: $PRIMARY-LIGHT;
    border-radius: .75em;
    @include on_sm_and_up
    {
        padding-top: 50%;
        min-height: calc(100% - 1rem) !important;
        border-radius: .25em;
    }
    @include on_md_and_up
    { padding-top: 47%; }
}

.dashboard__tile-small >
.tile__content-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dashboard__tile-small >
.tile__bg-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 15%;
}

.dashboard__tile-large >
.tile__content-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dashboard__tile-large >
.tile__bg-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dashboard__card-tile
{
    min-height: calc(100% - 1rem) !important;
    border-radius: .75em;
    overflow: hidden;
    @include on_sm_and_up
    { border-radius: .25em; }
}

.dashboard__card-tile-icon {
    position: absolute;
    top: -8px;
    left: -12px;
    transform: rotate(-35deg);
}

.dashboard__card-plan {
    font-size: 11px;
    padding: 0px 4px;
}

#dashboard__tile-center {
    border-radius: .75em;
}

#dashboard_center-button-1 {
    z-index: 1;
    margin-top: -59px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: $PRIMARY-LIGHT;
}

#dashboard_center-button-1 >
#dashboard__center-button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    height: 80%;
}
